<div class="container loginForm">
  <div class="row">
    <h2 class="text-center">Admin Login</h2>

    <form class="form-horizontal col-lg-6 col-lg-offset-3 " (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <p>Please enter Username and password</p>
<div class="form-group">
  <label class="control-label col-sm-2" for="email">username:</label>
  <div class="col-sm-10">
    <input type="email" class="form-control" name="name" placeholder="Enter username" [(ngModel)]="model.username" #username="ngModel" required>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="pwd">Password:</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" name="pwd" placeholder="Enter password" [(ngModel)]="model.password" #password="ngModel" required >
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button (click)="validation(f.form.valid)" class="ui-button-info">Login</button>
  </div>
</div>
</form>
</div>
</div>
