<nav id="mainNav" class="navbar" style="position:absolute;z-index:9998">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="logo col-xs-7">
              <a href="/">
              <img src="/assets/img/logoNew.png" class="imgLogo">
             </a>
            </div>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll"  href="">Home</a>
              </li>

                <li>
                    <a class="page-scroll" onclick="navigateTo('about')">About Us</a>
                </li>
                <li>
                    <a class="page-scroll" onclick="navigateTo('adm')">Admission</a>
                </li>

                <li>
                    <a class="page-scroll" onclick="navigateTo('faq')">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" onclick="navigateTo('circullum')">Circullam</a>
                </li>
                <li>
                    <a class="page-scroll" onclick="navigateTo('events')">Events</a>
                </li>
                <li>
                    <a class="page-scroll" onclick="navigateTo('videowrap')">Facilities</a>
                </li>
                <li>
                    <a class="page-scroll" onclick="navigateTo('contact')">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                </div>
            </div>
        </div>
    </div>
</header>
