<footer class="footerPadding">
	 <div class="container-fluid footerBg">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-7 logodiv"><a href="/" >
			<img src="/assets/img/logo.png" class="img-responsive" alt="logo.png"></a></div>
			<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 footerMenu">
            <ul class="">
                <li *ngFor="let footData of footerData">
                    <a style="cursor:pointer" (click)="navigateTo(footData.url)"> {{footData.footerMenu}}</a>
                </li>

								<li><a style="cursor:pointer" *ngIf="!currentUser" (click)="scrollTo('login')">Login</a></li>
								<li><a style="cursor:pointer" *ngIf="currentUser && currentUser.username" (click)="logout()">Logout</a></li>
								<li><a style="cursor:pointer" *ngIf="currentUser && currentUser.username"  (click)="scrollTo('upload')">Upload</a></li>
								<li><a style="cursor:pointer" *ngIf="currentUser && currentUser.username"  (click)="scrollTo('gallery')">manage</a></li>
               <!-- <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                          <a href="#">Admission</a>
                </li>
                   <li>
                    <a href="#">Circullam</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                 <li>
                    <a href="#">FAQ</a>
                </li>
                 <li>
                    <a href="#">Contact Us</a>
                </li>-->

            </ul>

		 </div>
		 <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 contactUs pull-right">
		 <h2 class="text-left" style="font-size:16px">Contact Us</h2>
		  <address>
							Eyelids Kidszone,<br/>
							#35/36, 11th cross, Nanjappa <br>Layout<br/>
							Vidyaranyapura<br/>
                            Bangalore - 560097<br/>
                            <br>
                            Mobile:+91 94480 64496<br>
                            Mail:<a href="#" class="mailLink" href="mailto:rajip39@gmail.com">E-mail: rajip39@gmail.com</a>
					</address>
		<a href="" class="pull-left fb" ><img src="/assets/img/fb.png" alt=""/></a>
		<a style="cursor:pointer; float: right;margin-right:5px" (click)="top()">
		   <img class="img-responsive" src="assets/img/top.png" />
		 </a>
		 </div>
		 </div>
		<div class="container-fluid copyRight">
            <p>copyright @eyelids2017 </p>

        </div>
    </footer>
