<!-- Place somewhere in the <body> of your page -->
<div class="flexWrap">
<div class="flexslider">
  <ul class="slides colorPink">
    <li>
     <div class="slide">
          <h4>Children need the freedom and time to play.in Eyelids children learn
          as they play and ny child is safe in their hands which gives me a tension free routine.</h4>
          <span class="quoteBy">
            <p>- Reshma</p>
            <p>Mother of 2yr old  kid</p>
          </span>
     </div>
    </li>
    <li>
      <div class="slide">
           <h4>Children need the freedom and time to play.in Eyelids children learn
           as they play and ny child is safe in their hands which gives me a tension free routine.</h4>
           <span class="quoteBy">
             <p>- Reshma</p>
             <p>Mother of 2yr old  kid</p>
           </span>
      </div>
    </li>
  </ul>
</div>
</div>

<!--about-->
<section id="download" class="download bg-primary">
    <div class="container margin0_width100">
        <div class="row">
            <div class="col-md-7 aboutBg">
                  <div class="col-md-4 aboutusWrap">
                      <h3 class="aboutUsText">About Us</h3>
                      <span> </span>
                  </div>
                  <div class="col-md-6 aboutRight">
                    <p>Eyelids,was born to give kids a attitude
                    of togetherness and companionship
                    with soceity.Started in 2000 in Basaveshwarnagar in the name
                    called kids cottage which later shifted to Vidyaranyapura in 2005
                    in the name of 'eyelids'.</p>
                    <p>In Eyelids every child is taken care with atmost love and affection .
                    We believe that a child will know and understand things when they
                    are allowed to explore freely.</p>
                  </div>
            </div>

            <div class="col-md-5 colorPink missionOuterWrap">
              <div class="missionWrap">
                <h3 style="padding-bottom: 23px;">MISSION</h3>
                <p>Eyelids aims at education through freedom of
                exploration of things.It is a  kids zone where
                they have given complete freedom to play around and get the feel of everything around.
                here kids grow with more confidence and compassion towards
                the fellow being .Every aspect of communication on
                moral values is being taught.</p>
              </div>
            </div>
        </div>
    </div>
</section>

<!--mgt-->
<section id="mgt" class="mgt bg-primary colorPink">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h3 class="mgtTeamhead">Management Team </h3>
              <div class="circleWrap">
                  <div class="circle circleRight"><img style="width:98%" class="img-circle img-responsive img-center" src="assets/img/mangement.png"/></div>
                  <div class="circleMiddle"><img  style="width: 97%;"  class="img-circle img-responsive img-center" src="assets/img/mgt.png"/></div>
                  <div class="circle circleLeft"> <img  style="width:98%" class="img-circle img-responsive img-center" src="assets/img/mangement.png"/></div>
              </div>
              <div class="ownerWrap colorPink">
                    <h3> Rajaji Prakash </h3>
                    <span>Owner</span>
              </div>
            </div>
        </div>
    </div>
</section>

<!--admissions-->
<section id="adm" class="admis bg-primary">
    <div class="container margin0_width100">
        <div class="row">
            <div class="admissionWrapper">
                  <div class="admissonHead">
                      <h3>Admissions</h3>
                      <span> </span>
                  </div>
                  <div class="admissionText1">
                    <h3 style="margin-left: 26px">We Follow</h3>
                  </div>

                  <div class="admissionText2">
                    <div class="admissionText2inner">
                      <h5>Age Group</h5>
                      <p>Playgroup:1yr 10months -2yr 10 months</p>
                      <p>Playschool:2yr 10months-3yr-10months</p>

                      <h5 style="margin-top:25px;">Fee Structure  </h5>
                      <p>Playgroup:INR 20,000 per annum</p>
                      <p>Playschool: INR 22,000 per annum</p>
                    </div>
                  </div>

                  <div class="chart">
                        <p-organizationChart [value]="data"></p-organizationChart>

                  </div>

            </div>
        </div>
        <div class="gCircle">
          <div class="circleInner">
                <h3 class="colorPink">Admission are open</h3>
                <button pButton type="button" label="Download Form"></button> <br/>
                <span>Fill up the form and handover by person</span>
                <p class="lastDate">Last Date:29 -06- 2017</p>
          </div>
        </div>
    </div>
</section>

<!-- -  - - -  -  - -   -  -  - - -  -  - -  Design by NAVEEN------------------------------------------->
<section id="circullum" class=" container-fluid circullum">

      <div class="col-lg-4 col-md-4 col-sm-4 cicullumbgColor" >

      <img src="/assets/img/contact-Us.png" alt="colorC" class="img-responsive"/>-
</div>


<div class="col-lg-8 col-md-8 col-sm-8 circullumbg" >
<div class="row colorConcepts">
          <div class="col-lg-4 col-md-4 col-sm-4" >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Color Concepts</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Shapes</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Numbers</h4>
  </div>
</div>
<div class="row ">
  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Alphabets</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Rhyems</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Conversation</h4>
  </div>
</div>

<div class="row colorConceptsBottom">
  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Writing</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Coloring</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/colorC.png" alt="colorC" class="img-responsive"/>
    <h4 class="text-center circullumSub">Greeting Making</h4>
  </div>
</div>

</div>
</section>



<section id="events" class=" container-fluid evnt">
   <div class="container" >
      <div class="col-lg-4 col-md-4 col-sm-4 " >

      <img src="/assets/img/colorsday.png" alt="colorC" class="img-responsive"/>
</div>


<div class="col-lg-4 col-md-4 col-sm-4 " >
          <img src="/assets/img/colorsday.png" alt="colorC" class="img-responsive"/>

</div>
<div class="col-lg-4 col-md-4 col-sm-4 " >
          <img src="/assets/img//\colorsday.png" alt="colorC" class="img-responsive"/>

</div>
</div>

</section>

<section id="" class=" container-fluid eventsVideobg">

      <div class="container" >

      <img src="/assets/img/eventVideo.png" alt="eventVideo" class="img-responsive"/>
</div>

</section>



<section id="contact" class="contact container-fluid ">
  <div class="col-lg-7 col-md-7 col-sm-7 contactBg">
<div class="col-lg-5 col-md-5 col-sm-5 contactimg">
  <img src="/assets/img/contactus.png" alt="contact" class="img-responsive" />
</div>
  <div class="col-lg-7 col-md-7 col-sm-7 map">
    <address>
        Eyelids Kidszone,<br/>
        #35/36, 11th cross, Nanjappa Layout<br/>
        Vidyaranyapura<br/>
        Bangalore - 560097<br/>
        Mobile:+91 94480 64496<br>
        Mail:<a href="#" href="mailto:rajip39@gmail.com">E-mail: rajip39@gmail.com</a><br>
        <span>Follow Us</span><br>
        <img src="img/followus.png" alt="followus"/>
        </address>


</div>
  </div>

<div class="col-lg-5 col-md-5 col-sm-5 map">
      <img src="/assets/img/map.png" alt="map" class="img-responsive" />
  </div>


</section>
