<section id="circullum" class="circullum">

       <div class="col-lg-4 col-md-4 col-sm-4 circullumBg" >

      <div class="circullumHead">
                      <h3>Circullum</h3>
                      <span> </span>
                  </div>
        </div>


<div class="col-lg-8 col-md-8 col-sm-8 circullumLeftBg" >
<div class="row colorConcepts" >
          <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let cD of circullumData" >
             <img src='{{cD.imgurl}}' alt="colorC" class="img-responsive circullumImg"/>
             <h4 class="text-center circullumSub">{{cD.title}}</h4>
         </div>

  <!--<div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/shapes.png" alt="colorC" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Shapes</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/numbers.png" alt="numbers" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Numbers</h4>
  </div>-->
</div>
<!--<div class="row ">
  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/alphabets.png" alt="colorC" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Alphabets</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/rhymes.png" alt="rhymes" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Rhyems</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/conversations.png" alt="conversations" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Conversation</h4>
  </div>
</div>-->

<!--<div class="row colorConceptsBottom">
  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/writing.png" alt="colorC" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Writing</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/coloring.png" alt="colorC" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Coloring</h4>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 " >
    <img src="/assets/img/greeting.png" alt="colorC" class="img-responsive circullumImg"/>
    <h4 class="text-center circullumSub">Greeting Making</h4>
  </div>
</div>-->

</div>
</section>