/******ALL RESPONSIVE CSS*****/
@media (max-width: 767px) {}

@media (max-width: 480px) {

  }

@media (min-width: 768px) and (max-width: 991px) {
  /*chart overrride*/
  .ui-organizationchart .ui-organizationchart-node-content{
    padding: 1.5em 0.75em !important;
  }
  .navbar-nav>li {
      margin-left: 12px;
  }
  .admissonHead{
    left:9px;
  }
  .circleWrap{
    width:100% !important;
  }
  .circleRight {
    right: 33px !important;
  }
  .circleLeft {
    left: 53px !important;
}
  .aboutUsText{
        margin-top: 0;
        padding-top: 104px;
    padding-left: 34px;
    width: 100%;
    margin-left:0;
    text-align: left;
  }
  .aboutRight{
    float:none;
    padding: 28px 37px 14px 63px;
  }
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .header .header-content{
    height:auto !important;
  }

 }


@media (min-width: 992px) and (max-width: 1199px) {
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }

 }


@media (min-width: 1200px) { }
