/******ALL RESPONSIVE CSS*****/
@media (max-width: 767px) {
  header{
    background-size: cover;
  }
  .flex-control-nav {
    bottom: -26px !important;
}
  .logo{
    position: absolute;
    top: 32px;
    left: 23px;
  }
  .missionWrap {
      width: 100%;
      padding:0;
    }
    .navbar-nav{
          margin: 7.5px -3px;
    }
.navbar-right {
  height:auto !important;
  background: #fff;
  top: 191px;
}
.navbar-nav>li>a {
    padding-top: 10px;
   padding-bottom: 10px;
    color: #000;
 }
section.download{
      background: #feb329;
}
 .navbar-nav>li {
     margin-left: 14px;
 }
 .aboutusWrap{
   margin-top:0;
 }
 .aboutUsText {
   margin-top: 0  !important;;
   padding-top: 101px  !important;
   width: 100%  !important;;
   text-align: left;
   padding-left: 38px  !important;
   margin-left:0;
  }
  .aboutRight {
    float:none;
    padding:0;
  }
  .circleWrap{
    width:100% !important;
  }
  .circle{
    width: 32% !important;
    height: 112px !important;
    top:43px !important;
    background: transparent !important;
  }
  .circle>img{
    border:3px solid rgb(254,179,54);
  }
  .circleRight{
    right: 22px!important;
  }
  .circleMiddle{
    width: 49% !important;
    height: 180px!important;
    left:21%!important;
  }
  .circleLeft {
    left: 5px !important;
  }
  .mgt{
    min-height: 350px;
  }
  .ownerWrap {
    margin-top: 200px;
}
.navbar-toggle{
  color:#fff;
}
.admissonHead{
  position: static;
  margin: 0 auto;
  padding-top: 100px;
}

.admissionText1{
    position: static;
    height: 42px;
    width: 100%;
}
.admissionText1 h3{
text-align: center;
padding-top: 10px;
margin-left:0 !important;
}

 .ui-organizationchart-table {
  margin: 0 auto !important;
}

.ui-organizationchart .ui-organizationchart-node-content {
    padding: 1.5em 0.75em !important;
}
.gCircle{
  left: 9%;
    bottom: -305px;
}
.admissionText2{
      position: static;
      height: 369px;
      width: 100%;
}
.chart {
    position: static;
  }
  .admissonHead h3{
      margin-top: 0;
  }

  .admissionText2inner{
        bottom: 247px;
  }

  .faq
{
    
    padding: 24px 30px;

}
}


@media (max-width: 480px) {
/*circullum logo overrride*/
.circullum {
    margin-top: 310px;
    padding: 0px;
}
.circullumImage
{
    margin: 0 auto;
    width: 50%;
}
.circullumHead h3 {
    font-size: 21px;
    margin-left: 31%;
    margin-top: -28%;
    width: 39%;
}
.circullumBg {
    left: 30px;
    min-height: 267px;
    top: 9px;
}
.colorConcepts {
    padding-top: 0px;
}
.circullumSub {
    padding-top: 0px;
    padding-bottom: 0px;
	font-size:17px;
}

/*footer logo overrride*/
.logodiv {
    margin: 20px auto 0 75px;
}
.footerMenu ul {
    padding-left: 15px;
}
.footerMenu {
    line-height: 0.8;
    margin-top: 35px;
}
 .footerMenu ul li a {
    font-size: 15px;
}
.contactUs address {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
.contactUs {
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
}
.contactUs h2 {
    font-size: 17px;
}

/*faq  overrride*/

.faq {
    padding: 24px 5px;
}
.faq ol li {
    padding-bottom: 15px;
}

/*contact us overrride*/

.contactUsmap{
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
}
.contactimg
{
    margin-bottom: 0;
}
.map address {
    font-size: 15px;
    line-height: 1.8;
    padding: 20px 0 14px 15px;
}
  }
@media (min-width: 481px) and (max-width: 767px) {
/*footer logo overrride*/
.logodiv {
    margin-left: 91px;
    margin-top: 27px;
}
.footerMenu {
    line-height: 1;
    margin-top: 41px;
}
.contactUs {

    margin-top: 41px;
}
.contactUs h2 {
    font-size: 17px;
}
.contactUs address {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 1px;
}
.footerBg {
    height: auto;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  /*chart overrride*/
  .ui-organizationchart .ui-organizationchart-node-content{
    padding: 1.5em 0.75em !important;
  }
  .navbar-nav>li {
      margin-left: 12px;
  }
  .admissonHead{
    left:9px;
  }
  .circleWrap{
    width:100% !important;
  }
  .circleRight {
    right: 33px !important;
  }
  .circleLeft {
    left: 53px !important;
}
  .aboutUsText{
        margin-top: 0;
        padding-top: 104px;
    padding-left: 34px;
    width: 100%;
    margin-left:0;
    text-align: left;
  }
  .aboutRight{
    float:none;
    padding: 28px 37px 14px 63px;
  }
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .header .header-content{
    height:auto !important;
  }
  /*Circullum override*/
 .circullumImage
 {
     width:83%;
 }
.circullumBg {
    left: 0;
    top: 200px;
}
.circullumHead h3 {
    margin-left: 16%;
    margin-top: -48%;
    font-size: 27px;
}
.colorConcepts {
    padding-top: 0px;
}

/*footer  overrride*/
.logodiv {
    margin-left: 25px;
    margin-top: 69px;
}
.footerMenu {
    line-height: 1;
    margin-top: 25px;
}
.contactUs {

    margin-top: 1px;
}
.contactUs h2 {
    font-size: 20px;
}
.contactUs address {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 1px;
}
.footerBg {
    background-position: center center;
    background-size: cover;
    height: auto;
}
/*faq override*/
.faq
{
    
    padding: 24px 30px;

}

 }


@media (min-width: 992px) and (max-width: 1199px) {
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }
  /*footer  overrride*/
  .logodiv {
    margin-top: 125px;
}
.footerMenu {
    line-height: 1.3;
    margin-top: 44px;
}
.contactUs {
  margin-top: 20px;
}
.contactUs address {
    line-height: 1.3;
}
 }


@media (min-width: 1200px) { }
