/******ALL RESPONSIVE CSS*****/
@media (max-width: 767px) {

.navbar-right {
  height:auto !important;
  background: #fff;
  top: 191px;
}
.navbar-nav>li>a {
    padding-top: 10px;
   padding-bottom: 10px;
    color: #000;
 }

 .navbar-nav>li {
     margin-left: 14px;
 }
 .aboutusWrap{
   margin-top:0;
 }
 .aboutUsText {
   margin-top: 0  !important;;
   padding-top: 101px  !important;
   width: 100%  !important;;
   text-align: left;
   padding-left: 38px  !important;
   margin-left:0;
  }
  .aboutRight {
    float:none;
  }
  .circleWrap{
    width:100% !important;
  }
  .circle{
    width: 32% !important;
    height: 112px !important;
    top:43px !important;
    background: transparent !important;
  }
  .circle>img{
    border:3px solid rgb(254,179,54);
  }
  .circleRight{
    right: 22px!important;
  }
  .circleMiddle{
    width: 49% !important;
    height: 180px!important;
    left:21%!important;
  }
  .circleLeft {
    left: 5px !important;
  }
  .mgt{
    min-height: 350px;
  }
  .ownerWrap {
    margin-top: 200px;
}
.navbar-toggle{
  color:#fff;
}

}


@media (max-width: 480px) {
/*footer logo overrride*/
.logodiv {
    margin: 20px auto 0 75px;
}
.footerMenu ul {
    padding-left: 15px;
}
.footerMenu {
    line-height: 0.8;
    margin-top: 35px;
}
 .footerMenu ul li a {
    font-size: 15px;
} 
.contactUs address {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
.contactUs {
    margin-top: 6px;
    padding-left: 0;
    padding-right: 0;
}
.contactUs h2 {
    font-size: 17px;
}  
  }
@media (min-width: 481px) and (max-width: 767px) {
/*footer logo overrride*/
.logodiv {
    margin-left: 91px;
    margin-top: 27px;
}
.footerMenu {
    line-height: 1;
    margin-top: 41px;
}
.contactUs {
   
    margin-top: 41px;
}
.contactUs h2 {
    font-size: 17px;
}
.contactUs address {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 1px;
}
.footerBg {
    height: auto;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  /*chart overrride*/
  .ui-organizationchart .ui-organizationchart-node-content{
    padding: 1.5em 0.75em !important;
  }
  .navbar-nav>li {
      margin-left: 12px;
  }
  .admissonHead{
    left:9px;
  }
  .circleWrap{
    width:100% !important;
  }
  .circleRight {
    right: 33px !important;
  }
  .circleLeft {
    left: 53px !important;
}
  .aboutUsText{
        margin-top: 0;
        padding-top: 104px;
    padding-left: 34px;
    width: 100%;
    margin-left:0;
    text-align: left;
  }
  .aboutRight{
    float:none;
    padding: 28px 37px 14px 63px;
  }
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .header .header-content{
    height:auto !important;
  }
/*footer logo overrride*/
.logodiv {
    margin-left: 25px;
    margin-top: 69px;
}
.footerMenu {
    line-height: 1;
    margin-top: 25px;
}
.contactUs {
   
    margin-top: 1px;
}
.contactUs h2 {
    font-size: 20px;
}
.contactUs address {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 1px;
}
.footerBg {
    height: auto;
}

 }


@media (min-width: 992px) and (max-width: 1199px) {
  .aboutusWrap {
      width: 40%;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
  }

 }


@media (min-width: 1200px) { }
